<!doctype html>

<html lang="zh-CN">
<head>
  <meta charset="utf-8">

  <title>{{ title }} - Chinese Traditional OCR Converter</title>
  <meta name="description" content="My CSS+JS OCR Test">

  <link rel="stylesheet" href="/static/base.css">
    <script src="/static/base.js"></script>


</head>

<body>

</body>


<script type="text/javascript">
    new Images({{ LImages|safe }});
</script>

</html>

